.app {
  width: 100%;
  margin: 0 auto;
  background: #0060DD;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.todo-list {
  box-sizing: border-box;
  background: #fff;
  width: 50%;
  min-height: 80vh;
  padding: .5rem 2rem;
  border-radius: 1rem;
}

.todo-title {
  padding: .5rem 0;
  text-align: center;
}

.todo-title h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

.todo-title p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

.app form {
  margin-bottom: 1rem;
}

.app form input {
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  padding: 0 1rem;
}


.todo {
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin-top: 1.2rem;
  display: flex;
  min-height: 3rem;
  font-size: 18px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 16px;
}

.action {
  display: flex;
  column-gap: .5rem;
}

.action button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.done svg {
  color: rgb(34, 135, 23);
  font-size: 24px;
}

.delete svg {
  color: rgb(234, 56, 56);
  font-size: 24px;
}

.edit svg {
  color: #0060DD;
  font-size: 24px;
}